<% if @user_role == :owner %>
    <h1>All RSVPs for <%= @event.title %></h1>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Attending</th>
            </tr>
        </thead>
        <tbody>
            <% @rsvps.each.with_index(1) do |rsvp, index| %>
                <tr>
                    <td><%= index %></td>
                    <td><%= rsvp.name.capitalize %></td>
                    <td><%= rsvp.email %></td>
                    <td><%= rsvp.event_user_datum.user_role %></td>
                    <td><%= rsvp.event_user_datum.attending %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @rsvps.size > 0 %>
        <%= link_to 'Edit', edit_user_event_rsvp_list_path(@event) %><br>
    <% else %>
        <%= link_to 'Add', new_event_rsvp_path(@event) %><br>
    <% end %>
    <%= link_to 'Back', user_events_path(current_user.id) %><br>
    <% if @user.nil? %>
        <%= link_to 'Export as CSV', export_event_rsvps_path %>
    <% elsif %>
        <%= link_to 'Export as CSV', export_user_event_rsvps_path(current_user.id) %>
    <% end %>
<% end %>
