<h1>RSVP for <%= @event.title %> from <%= @rsvp.name %></h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Attending</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @rsvp.name %></td>
            <td><%= @rsvp.email %></td>
            <td><%= @rsvp.event_user_datum.attending %></td>
        </tr>
    </tbody>
</table>