<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


<!-- <div class="container">
    
  <form class="needs-validation" novalidate>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="validationCustomName">Name</label>
          <input type="text" class="form-control" id="validationCustomName" placeholder="Name" value="Mark Tan" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="col-md-3 col-md-offset-2 mb-4">
          <label for="validationCustomGender">Gender</label>
          <input type="text" class="form-control" id="validationCustomGender" placeholder="Age" value="Male" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
              Please indicate your gender.
            </div>
        </div>

        <div class="col-md-1 mb-4">
          <label for="validationCustomAge">Age</label>
          <div class="input-group">
            <input type="integer" class="form-control" id="validationCustomAge" placeholder="Age" value="27" required>
            <div class="invalid-feedback">
              Please indicate your age.
            </div>
          </div>
        </div>

    </div>    
        
    <div class="form-row">

        <div class="col-md-5 mb-3">
          <label for="validationCustomEmail">Email (this will be your username)</label>
          <input type="text" class="form-control" id="validationCustomEmail" placeholder="Email" value="marktan@gmail.com" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Invalid Email, please try again.
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <label for="validationCustom03">Contact</label>
          <input type="integer" class="form-control" id="validationCustomContact" placeholder="Contact" required>
          <div class="invalid-feedback">
            Please provide a valid number.
          </div>
        </div>
        <div class="col-md-2 mb-4">
          <label for="validationCustom04">Race</label>
          <input type="text" class="form-control" id="validationCustomRace" placeholder="Race" required>
          <div class="invalid-feedback">
            Please indicate your race.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-5 col-md-offset-1 mb-3">
          <label for="validationCustom05">Password</label>
          <input type="password" class="form-control" id="validationCustomPassword" placeholder="Password" required>
          <div class="invalid-feedback">
            Please provide a password.
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="validationCustomUsername">Wedding Date</label>
            <input type="date" class="form-control" id="validationCustomDate" placeholder="Date" required>
            <div class="invalid-feedback">
              Please provide your wedding date
            </div>
        </div>

    </div> 
 
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>

      <div class="actions">
    <%= f.submit "Sign up", :class =>"btn btn-outline-light" %>
      </div>
    <% end %>
  </form>  
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>     -->



