<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Hello there <%= @rsvp[:name] %></h1>
    <p>
        You've been invited to <%= @rsvp.event.title %> by <%= @sender %>.
    </p>
    <p>
        If you'd like to attend, please RSVP at <%= @url_yes %>.
    </p>
    <p>
        Otherwise, you could indicate so and leave a message for <%= @rsvp[:name] %> at <%= @url_no %>.
    </p>
    <p>
        Have a nice day!
    </p>
</body>
</html>