<h1>Add Invitee</h1>

<h2>Event: <%= @event.title %></h2>

<%= form_with scope: :rsvplist, url: event_rsvp_lists_path, local: true do |form| %>
  
  <p>
    <%= form.hidden_field :event_id, :value => @event.id %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :key %><br>
    <%= form.text_field :key %>
  </p>

  <p>
    <%= form.submit "Send Invite" %>
  </p>
<% end %>

<%= link_to 'Back', event_rsvp_lists_path(@event) %>