<div class="container">
    <div class="row">
        <div class="events-grid-item1 col-sm-10">
          <h1>Events</h1>


                <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">DateTime</th>
                      <th scope="col">Title</th>
                      <th scope="col">Show</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Destroy</th>
                      <th scope="col">RSVP List</th>
                    </tr>
                    </thead>
                    
                    <% @events.each do |event| %>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><%= event.datetime%></td>
                      <td><%= event.title%></td>
                      <td><%= link_to 'Show', user_event_path(@user, event) %></td>
                      <td><%= link_to 'Edit', edit_user_event_path(@user, event) %></td>
                      <td><%= link_to 'Destroy', event_path(event),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
                      </td>
                      <td><%= link_to 'View', event_rsvps_path(event) %></td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>

                <%= link_to 'Create Event', new_user_event_path(@user), :class => "btn btn-outline-light"%>
                <%= link_to 'Back', user_path(@user), :class => "btn btn-outline-light" %>
        </div>
    </div>    
</div>