<div class="container">
    <div class="row">
        <div class="events-grid-item1 col-sm-10">
        
          <h1>Events</h1>

                <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">DateTime</th>
                      <th scope="col">Title</th>
                      <th scope="col">Show</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Destroy</th>
                      <th scope="col">RSVP List</th>
                    </tr>
                    </thead>
                    
                    <% @events.each do |event| %>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><%= event.datetime%></td>
                        <td><%= event.title%></td>
                        <td><%= link_to 'Show', user_event_path(@user, event.id) %></td>
                        <td><%= link_to 'Edit', edit_user_event_path(@user, event.id) %></td>
                        <td><%= link_to 'Destroy', event_path(event.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
                        </td>
                        <td><%= link_to 'View', event_rsvps_path(event.id) %></td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>

                <%= link_to 'Create Event', new_user_event_path(@user), :class => "btn btn-outline-light"%>
                <%= link_to 'Back', user_path(@user), :class => "btn btn-outline-light" %>

          <h1>Invited Event</h1>

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Title</th>
                    <th scope="col">My RSVP</th>
                  </tr>
                  </thead>
                  
                  <% @max_length.times do |n| %>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><%= @invited_events[n].try(:datetime) %></td>
                    <td><%= @invited_events[n].try(:title) %></td>
                    <% if @event_rsvp[n].try(:attending).blank? %>
                      <td><%= link_to 'Going', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "yes") %> <%= link_to 'NotGoing', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "no") %></td>
                    <% elsif @event_rsvp[n].try(:attending) == 'Yes' %>
                      <td><%= @event_rsvp[n].try(:attending) %></td>
                      <td><%= link_to 'Change RSVP?', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "no") %></td>
                    <% else %>
                      <td><%= @event_rsvp[n].try(:attending) %></td>
                      <td><%= link_to 'Change RSVP?', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "yes") %></td>
                    <% end %>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
        </div>
    </div>    
</div>