<h1>My Event</h1>

<table border="solid">
  <tr>
    <th>DateTime</th>
    <th>Title</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>RSVP List</th>
  </tr>
  
  <% @events.each do |event| %>
  <tr>
    <td><%= event.datetime%></td>
    <td><%= event.title%></td>
    <td><%= link_to 'Show', user_event_path(@user, event) %></td>
    <td><%= link_to 'Edit', edit_user_event_path(@user, event) %></td>
    <td><%= link_to 'Destroy', event_path(event),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to 'View', event_rsvps_path(event) %></td>
  </tr>
  <% end %>
</table>

<h1>Invited Event</h1>

<table border="solid">
  <tr>
    <th>DateTime</th>
    <th>Title</th>
    <th>My RSVP</th>
  </tr>
  
  <% @invited_events.each do |event| %>
  <tr>
    <td><%= event.datetime%></td>
    <td><%= event.title%></td>
    <td>Link to Event_User_Data</td>
  </tr>
  <% end %>
</table>

<%= link_to 'Create Event', new_user_event_path(@user) %>
<%= link_to 'Back', user_path(@user) %>
