<h1>My Event</h1>

<table border="solid">
  <tr>
    <th>DateTime</th>
    <th>Title</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>RSVP List</th>
  </tr>
  
  <% @events.each do |event| %>
  <tr>
    <td><%= event.datetime%></td>
    <td><%= event.title%></td>
    <td><%= link_to 'Show', user_event_path(@user, event.id) %></td>
    <td><%= link_to 'Edit', edit_user_event_path(@user, event.id) %></td>
    <td><%= link_to 'Destroy', event_path(event.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to 'View', event_rsvps_path(event.id) %></td>
  </tr>
  <% end %>
</table>

<h1>Invited Event</h1>

<table border="solid">
  <tr>
    <th>DateTime</th>
    <th>Title</th>
    <th>My RSVP</th>
  </tr>
  
  <% @max_length.times do |n| %>
  <tr>
    <td><%= @invited_events[n].try(:datetime) %></td>
    <td><%= @invited_events[n].try(:title) %></td>
    <% if @event_rsvp[n].try(:attending).blank? %>
      <td><%= link_to 'Going', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "yes") %> <%= link_to 'NotGoing', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "no") %></td>
    <% elsif @event_rsvp[n].try(:attending) == 'Yes' %>
      <td><%= @event_rsvp[n].try(:attending) %></td>
      <td><%= link_to 'Change RSVP?', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "no") %></td>
    <% else %>
      <td><%= @event_rsvp[n].try(:attending) %></td>
      <td><%= link_to 'Change RSVP?', edit_event_rsvp_path(@invited_events[n].try(:id), @event_rsvp[n].try(:rsvp_id), attending: "yes") %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Create Event', new_user_event_path(@user) %>
<%= link_to 'Back', user_path(@user) %>
